h1{
    font-size: 80px;
    font-family: Impact;
    color: #000000;
}
p{
    font-size: 30px;
}
button{
    width: 250px;
    height: 80px;
    background-color:blue ;
    color: #fff;

}
button:hover{
    background-color: green;
}
